body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.img-fluid{
    height: 50px;
}

.container{
    display: block;
    margin-top: 20px;
}

.btn-container{
    align-items: center;
}

.move-button{
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.score{
    margin-top: 60px;
}

.resetbtn{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
}